@charset "utf-8";
/* CSS Document */

body
{
	font-family: 'Aclonica', sans-serif;

	background:#f4f4f4;

}
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;

}
.navbar-light .navbar-nav .nav-link:hover{

  text-decoration:dotted;
  border-style:  dotted;
  border-width: 2px;


}

hr{
	text-decoration:dotted;
	border-style: dotted;
}
.jumbotron{
	padding:1rem 2rem;
}
.footer{
    height:50px;
    position:relative;
    left:0px;
    bottom:0px;
    background-color:#000000;
    width:100%;
    z-index: 100;
}
